
            h1{
                color: rgb(184, 81, 73);
            } 
           /* p{
                color: purple;
            } 
            #two{
                color: magenta;
            }*/
            .purple_par{
                color: purple;
            }
            .green_par{
                color: green;
            }
            #par4{
                color: magenta;
            }
            
        